.Main
{
 display: flex;
 height: 100vh;
 width: 100vw;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 font-size: 50px;
 font-weight: bolder;
    
}
.Converter
{
    display: flex;
    
    justify-content: center;
    margin-top: 1rem;
    
    
    
}
.celcuis
{
    margin-right: 1rem;
}
.inputData
{
    padding: 1rem 2rem;
    border: 2px solid saddlebrown; 
    border-radius: 8rem;
    font-weight: bolder;
    font-size: large;
}

